/nbproject
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/nbproject/private/
###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
###< symfony/phpunit-bridge ###
#
#
.idea
/docker/logs/
/docker/elk/

composer.*
symfony.*
###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
/public/media/

